@font-face{
 font-family: Corbel;
 src: url(../fonts/Corbel.ttf);
}
@font-face{
 font-family: Source Sans Pro;
 src: url(../fonts/SourceSansPro-Regular.otf);
}
body{
	margin:0px;
	padding:0px;
	width:100%;
	height: 100%;	
}
a:link, a:visited, a:hover, a:active{
	color: #fff;
	text-decoration: none;
}
.over_body{
	display: none;
	position: absolute;
	top:0px;
	left:0px;
	height: 100%;
	width: 100%;
	background-color: #404040;
	opacity: 0.4;
	z-index: 100;
}
.header{
	position: fixed;
	top:0;
	background-color: #5b9cc1;
	width:100%;
	z-index: 99;
}
.header .container{
	width:1200px;
	background-color: #5b9cc1;
	margin:0px auto;
	border:1px solid #FFF;
	border-top-width: 0px;
	border-bottom-width: 0px;
	font-size:1em;
}
.upload_switch, .apply_switch, .user-info{
	display: inline-block;
	background-color: #5b9cc1;
	padding:15px;
	color:#FFF;
	font-family: Corbel;
	cursor:pointer;
}
.upload_switch{
	float:right;
}
.apply_switch{
	float: left;

}
.header .search{
	line-height: 49px;
	display: inline-block;
	margin-left:20px;
	width:400px;
}
.search .text_input{
	margin:0px auto;
	line-height: 27px;
	border-radius:7px;
	padding:0px;
	color:#878787;
	text-indent: 5px;
	height:27px;
	width:100%;
	background-color: #EBEBEB;
	border: 1px solid #FFF; 
}
.text_input:focus{
	outline: none;
}
.menu-icon {
	display: none;
	margin-left: -5px;
	vertical-align: middle;
	float:right;
	background-color: #5b9cc1;
}
.menu-icon img{
	cursor: pointer;
	height:19px;
	width: 29px;
	padding:15px 10px 15px 15px;
}
.user-info{
	padding:0px;
	display: inline-block;
	float:right;
}
.user-info p{
	display: inline-block;
	margin:0px;
	padding-right:15px;
	vertical-align: middle;
}
.user-info img{
	height:25px;
	width: 25px;
	padding:12px;
	display: inline-block;
	vertical-align: middle;
}
.dropdown{
	font-size: 0.9em;
    display: none;
    position: absolute;
    background-color: #5b9cc1;
    padding: 12px 16px;
    z-index: 10;
}
.dropdown p{
	display: block;
	padding: 5px;
	text-align: center;
	text-align: -webkit-center;
}
.dropdown form{
	display: none;
}
.dropdown hr{
	border:1px solid #FFF;
	border-bottom-width: 0px;
	width:90%;

}
.dropdown p:hover{
	background-color: #42718c;
}
.user-info:hover .dropdown{
    display: block;
}
.dropdown_meniu_1200{
	font-size: 0.9em;
    display: none;
    position: absolute;
    background-color: #5b9cc1;
    padding: 12px 16px;
    z-index: 11;
}
.dropdown_meniu_1200 p{
	display: block;
	color: #fff;
	font-family: corbel;
	padding: 5px;
	text-align: center;
	text-align: -webkit-center;
	margin: 0px auto;
}
.dropdown_meniu_1200 hr{
	border:1px solid #FFF;
	border-bottom-width: 0px;
	width:90%;
	display: none;
}
.dropdown_meniu_1200 p:hover{
	background-color: #42718c;
}
.menu-icon:hover .dropdown_meniu_1200{
    display: block;
 }
.meniu_1000{
	display: none !important;
}
.all_elements{
	display: block;
	width:1202px;
	height: auto;
	margin:79px auto;
	font-family: Corbel;
	color:#FFF;
	z-index: 2;
}
.cover_picture{
	display: block;
	background: url("");
	width:100%;
	height: 280px;
	background-color: rgba(64, 64, 64, 0.6);
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.user-profile{
	display: block;
	position: relative;
	top:15px;
	width:95%;
	margin:0px auto;
}
.profile_picture{
	display: block;
	border-radius:50%;
	float:left;
	width:150px;
	height: 150px;
	background-size: 150px 150px;
	text-align: center;
	text-align: -webkit-center;
}
.profile_picture .upload{
	float:right;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
   	margin:0px auto;
	border-radius: 5px;
	cursor: pointer;
	z-index: 20;
}
.upload img{
	width:20px;
	height: 20px;
}
.username, .location, .user_location{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	display: inline-block;
	vertical-align: top;
	margin-left:35px;
	font-family: Corbel;
	font-size:1.2em;
	color:#FFF;
	background-color: rgba(0,0,0,0.75);
	padding:5px 25px 5px 25px;
}
.location, .user_location{
	font-size: 1.1em;
	padding:3px 25px 3px 25px;
	margin-top:10px;
}
.aboutus_switch{
	background-color: #5b9cc1;
	font-size:1em;
}
.upload_cover_container{
	/*position: fixed;*/
	width: 100%;
	bottom:0px;
}
.cover_upload{
	margin-right: 5%;
	margin-left: 95%;
	margin-top: 70px;
	width:20px;
	height: 20px;
	cursor: pointer;
}
.sub_meniu{
	margin-right: 10px;
	padding-top: 9px;
}
.sub_meniu p{
	display: inline;
	padding-left: 12px;
	float: right;
	margin: 0px;
}
.sub_meniu p:hover{
	color: #f4855b;
	cursor: pointer;
}
.sub_meniu hr{
	border:1px solid #FFF;
	border-top-width: 0px;
	margin-top: 1px;
	width: 100%;
}
.tracks_switch{
	color: #f4855b;
}
.feedback_panel{
	width: 30%;
	float: left;
}
.feedback_panel p{
	width: 100%;
	overflow: hidden;
	font-size: 0.8em;
}
.feedback_panel h2{
	color: #f4855b;
}
.feedback_panel hr{
	width:100%;
	border:1px solid #FFF;
	border-top-width: 0px;
}
.music{
	width: 69%;
	float: right;
	border-left: 1px solid #fff;
}
.settings, .pictures_info{
	display: none;
	background-color: #FFF;
	border-radius: 10px;
	width:40%;
	left:30%;
	z-index: 120;
	position: absolute;
	top: 79px;
	box-shadow: 0px 0px 10px #000;
	margin: 0px auto;
}
.settings h2{
	color: #f4855b;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 2px;
	font-family: corbel;
}
.form{
	width:300px;
	margin-left:20px;
}
.form p{
	font-family: corbel;
	font-weight: bold;
	color:#333;
}
.form textarea{
	padding:0px;
	width:100%;
	height:100px;
	max-height: 200px;
	max-width: 100%;
	font-family: Corbel;
	text-align: left;
	font-size: 0.8em;
	border:1px solid rgb(169, 169, 169);
	border-radius:5px;
	background: rgba(255, 255, 255, 0);
	padding-left: 5px;
}
.form .text_input{
	display: block;
	color: #000;
	font-family: Corbel;
	font-size: 0.8em;
	text-indent: 5px;
	height:22px;
	width: 100%;
	margin:20px auto;
	border: 1px solid rgb(169, 169, 169); 
    background: rgba(255, 255, 255, 0);
    border-radius:5px;
}
.text_input:focus, .form textarea:focus{
	outline: none;
	border:1px solid #68b3dd;
}
.form button{
	color:#FFF;
	cursor: pointer;
	border:none;
	width:100px;
	margin:15px auto;
	padding:12px;
	font-family: Corbel;
	font-size:1em;
	border-radius:5px;
	background-color: #F4855B;
}
.form button:focus{
	outline: none;
}
.cancel{
	background-color: #999999 !important;
}
.request, .feedback{
	margin:10px auto;
	font-family: Corbel;
	font-size: 0.9em;
	color:#FFF;
	width:100%;
}
.feedback{
	font-size: 1em;
}
.info{
	display: inline-block;
	width:50%;
	height: inherit;
	vertical-align: top;
	margin-left:5%;
	line-height: 30px;
	text-align: center;
}
.track_image{
	width:80px;
	height: 80px;
	background-color: #FFF;
	display: inline-block;
}
.liked{
	display: none;
}
.track_container{
	color:#FFF;
	background-color:rgba(0,0,0,0.6);
	width:100%;
	margin:13px auto;
}
.track_container:first-of-type{
	margin-top:0px;
}
.track_img{
	float:left;
	display: inline-block;
	width:120px;
	height: 120px;
	background-color: #FFF;
	margin:10px;
	margin-right: 0px;
}
.track_img img{
	width:120px;
	height: 120px;
	background-size: cover;
}
.track_name{
	display: inline-block;
	background-color: rgba(0,0,0,0.7);
	margin:10px;
	padding:5px;
}
.teacher_image{
	display: inline-block;
	width:80px;
	height:80px;
	background-size: 80px 80px;
	background-image:url('');
	border-radius:50%;
}
.on_name{
	font-size: 0.9em;
	margin-left:5px;
}
.comment{
	line-height: 20px;
	font-size: 0.8em;
	margin-left:5px;
	word-wrap:break-word;
}
.play_pause{
	background-image: url('play.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin:10px;
	margin-top:0px;
	display: inline-block;
	cursor: pointer;
}
.waveform{
	height: 100px;
	width: calc(100% - 130px);
	margin-top:0px;
	float:left;
}
.no_tracks{
	margin:10px auto;
	padding:20px;
	font-size: 1.2em;
	text-align: center;
}
.no_tracks a:link, .no_tracks a:visited, .no_tracks a:hover, .no_tracks a:active, .info a:link, .info a:visited, .info a:hover, .info a:active, .feedback a:link, .feedback a:visited, .feedback a:hover, .feedback a:active{
	color:#5b9cc1;
	font-weight: bold;
	text-decoration: none;
}
.no_tracks:nth-child(2){
	margin:5px auto;
	font-size: 1em;
}
.clear{
	clear: both;
}
.pictures_info{
	position: absolute;
	display: none;
	font-family: Source Sans Pro;
	color:#E85151;
	-webkit-text-fill-color:#E85151;
	-webkit-text-stroke:0.5px #595959;
	font-size: 0.9em;
}
.error_img{
	width:250px;
	height: 250px;
	background-size: 250px 250px;
	margin:10px auto;
}
.pictures_info ul{
	list-style-type: none;
	padding-left: 20px;
	margin:15px auto;
	line-height: 25px;
	display: inline-block;
}
.like{
	position: relative;
	margin-left: calc(100% - 35px);
	left:0;
	bottom: 25px;
	text-align: right;
	z-index: 5;
}
.like img{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.like_main{
	position: relative;
	width: 20px ;
	left:0;
	margin-left:calc(100% - 35px);
	bottom: 15px;
	text-align: right;
	z-index: 5;
}
.like_main img{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
@media screen and (max-width:1230px){
	.header .container{
		width:1000px;
	}
	.all_elements{
		width:1002px;
	}
	.aboutus_switch{
		display: none;
	}
	.menu-icon{
		display: block;
	}
	.header .search{
		width:350px;
	}
	.like{
		margin-left: calc(100% - 25px);
	}
	.like_main{
		margin-left: calc(100% - 25px);
	}
}
@media screen and (max-width: 1030px){
	.header .container{
		width:90%;
	}
	.all_elements{
		width:90.25%;
	}
	.upload_switch{
		display: none;
	}
	.header .search{
		width:200px;
	}
	.settings, .pictures_info{
		width: 60%;
		left: 20%;
	}
	.apply_switch{
		display: none;
	}
	.meniu_1000{
		display: block !important;
	}
	.dropdown_meniu_1200 hr{
		display: block;
	}
}
@media screen and (max-width: 600px){
	.header .container{
		width:100%;
		text-align: left;
		font-size: 0.9em;
		border:none;
	}	
	.all_elements{
		width:100%;
		margin:49px auto;
	}

	.header .search {
		margin-left: 10px;
		width:30%;
	}
	.username, .location, .user_location{
		margin-left: 20px;
	}
	.profile_picture{
		width:120px;
		height: 120px;
		background-size: 120px 120px;
	}
	.cover_picture{
		height: 230px;
	}
	.upload img{
		width:15px;
		height: 15px;
	}
	.settings, .pictures_info{
		width: 95%;
		left:2.5%;
	}
	.form{
		width:95%;
		margin-left: 2%;
	}
	.username{
		font-size: 1em;
	}
	.location, .user_location{
		font-size:0.9em;
	}
	.user-profile{
		margin-right: 0px;
		margin-left:2%;
	}
	.music{
		width: 96%;
		float: none;
		border-bottom: 1px solid #FFF;
		border-left: none;
		margin:0px auto;
	}
	.feedback_panel{
		width: 94%;
		float: none;
		margin:0px auto;
	}	
	.cover_upload{
		margin-right: 3%;
		margin-left: 92%;
	}
	.like{
		margin-left: calc(100% - 5px);
	}
}
@media screen and (max-width: 350px){
	.username{
		font-size: 0.9em;
	}
	.location, .user_location{
		font-size:0.8em;
	}
	.profile_picture{
		width:100px;
		height: 100px;
		background-size: 100px 100px;
	}
	.error_img{
		width:200px;
		height: 200px;
		background-size: 200px 200px;
	}
}
